DISPLAY=:0.0

# ┌───────────── minute (0 - 59)
# │ ┌───────────── hour (0 - 23)
# │ │ ┌───────────── day of month (1 - 31)
# │ │ │ ┌───────────── month (1 - 12)
# │ │ │ │ ┌───────────── day of week (0 - 6) (Sunday to Saturday;
# │ │ │ │ │                                       7 is also Sunday on some systems)
# │ │ │ │ │
# │ │ │ │ │
# * * * * *  command to execute

# Reboot the Pi every night at 3 AM to ensure smooth operation
0 3 * * * sudo reboot

# Example: Turn display on weekdays at 7 AM
# Note: You may exchange "display-on" / "display-off" with "cec-on" / "cec-off" in order to use HDMI CEC
# 0 7 * * 1-5 ~/display-on.sh

# Example: Turn display off weekdays at 7 PM (and after the nightly reboot)
# 0 19 * * 1-5 ~/display-off.sh
# 10 3 * * 1-5 ~/display-off.sh

# Example: Reload webpage every hour
# 0 * * * * xdotool key ctrl+R

# Example: Cycle between open tabs every 5 minutes
# */5 * * * * xdotool key ctrl+Tab
